.about{
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.newsletter{
    margin-top: 100px;
  text-align: center;
  /*border: 10px solid grey;*/
  padding: 20px;
}