.about{
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.newsletter{
    margin-top: 100px;
  text-align: center;
  /*border: 10px solid grey;*/
  padding: 20px;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.submit_button{
color: white;
border: none;
opacity: 0.8;
}

.instagram{
    margin-top: 100px;
    text-align: center;
    border: 10px solid grey;
    padding: 20px;

}